<ul>
  <% @users.each do |user| %>
    <li>
      <%= user.name %>
      <%= link_to "Follow", followships_path(follow_target_id: user.id), method: :post, data: { disable_with: "Waiting..." } %>
    </li>
  <% end %>
</ul>
