<ul>
  <% @users.each do |target_user| %>
    <% if target_user != current_user %>
      <li>
        <%= target_user.name %>

        <%= render partial: "shared/follow", locals: {target_user: target_user} %>
      </li>
    <% end %>
  <% end %>
</ul>
